<html>
  <meta charset="utf-8" />
  <head>
    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />
    <%- partial("../_partials/_head") %>
  </head>
  <body>
    <%- partial("../_partials/_header") %>
    <main class="episode-page">
      <div class="episode--info" style="color: <%= color %>">
        <h1><%= title %></h1>

        <span class="date"><%= guest %> | <%= date %></span>
        <p><%= description %></p>
        <ol>
          <li class="row">
            <div class="social-share" data-sites="facebook,twitter,google">Share: </div>
          </li>
        </ol>
        <audio preload="auto" controls src="http://media.blubrry.com/salesforceway/<%= audio %>"></audio>
        <a class="download-link" href="http://media.blubrry.com/salesforceway/<%= audio %>" download>Download the mp3</a>
        <h2 class="resources-header">Show Notes:</h2>

        <div class="episode--resources">
          <%- yield %>
        </div>
      </div>
    </main>
    <%- partial("../_partials/_footer") %>
  </body>
</html>
