<html>
  <meta charset="utf-8" />
  <head>
    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />
    <meta property="og:description" content="<%= description %>"/>
    <% if(typeof img !== "undefined"){ %>
      <meta property="og:image" content="/img/ep/<%= img %>" />
      <meta property="og:image:url" content="/img/ep/<%= img %>" />
    <% } %>
    <%- partial("../_partials/_head") %>
  </head>
  <body>
    <%- partial("../_partials/_header") %>
    <main class="episode-page">
      <div class="episode--info" style="color: <%= color %>">
        <h1><%= title %></h1>

        <span class="date"><%= guest %> | <%= date %></span>
        <% if(typeof img !== "undefined"){ %>
          <img src="/img/ep/<%= img %>" alt="Salesforce Way" class="responsive">
        <% } %>
        <h2 class="resources-header">Description: </h2>
        <p><%= description %></p>
        <ol>
          <li class="row">
            <div class="social-share" data-sites="facebook,twitter,linkedin,google">Share: </div>
          </li>
        </ol>
        <audio preload="auto" controls src="http://media.blubrry.com/salesforceway/<%= audio %>"></audio>
        <a class="download-link" href="http://media.blubrry.com/salesforceway/<%= audio %>" download>Download the mp3</a>
        <h2 class="resources-header">Show Notes:</h2>
        <div class="episode--resources">
          <%- yield %>
        </div>
      </div>
    </main>
    <%- partial("../_partials/_footer") %>
  </body>
</html>
