<html>
  <meta charset="utf-8" />
  <head>
    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@salesforceway" />
    <meta name="twitter:creator" content="@xixiaofinland" />
    <meta property="og:title" content="<%= title %>" />
    <% if(typeof img !== "undefined"){ %>
    <meta property="og:image" content="https://salesforceway.com/img/ep/<%= img %>" />
    <% } %>
    <meta property="og:description" content="<%= description %>"/>
    <meta property="og:url" content="https://salesforceway.com/episodes/<%= suffix %>" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Salesforce Way" />
    <%- partial("../_partials/_head") %>
  </head>
  <body>
    <%- partial("../_partials/_header") %>
    <main class="episode-page">
      <div class="episode--info" style="color: <%= color %>">
        <h1><%= title %></h1>

        <span class="date"><%= guest %> | <%= date %></span>
        <% if(typeof img !== "undefined"){ %>
        <img src="/img/ep/<%= img %>" alt="Salesforce Way" class="responsive">
        <% } %>
        <h2 class="resources-header">Description: </h2>
        <p><%= description %></p>
        <ol>
          <li class="row">
            <div class="social-share" data-sites="facebook,twitter,linkedin,google">Share: </div>
          </li>
        </ol>
        <audio preload="auto" controls src="http://dts.podtrac.com/redirect.m4a/<%= audio %>"></audio>
        <a class="download-link" href="http://dts.podtrac.com/redirect.m4a/<%= audio %>" download>Download the mp3</a>
        <h2 class="resources-header">Show Notes:</h2>
        <div class="episode--resources">
          <%- yield %>
        </div>
        <div>
          <h2 class="resources-header">Comments:</h2>
          <div id="disqus_thread"></div>
          <script>
          var disqus_config = function () {
          this.page.url = "https://salesforceway.com/episodes/<%= suffix %>";
          this.page.identifier = "<%= suffix %>";
          };
          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://salesforceway.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
      </div>
    </main>
    <%- partial("../_partials/_footer") %>
  </body>
</html>
