<section class="about-section">
  <section class="about__intro">
    <figure class="about__main-img">
      <p class="about__main-desc">A podcast for salesforce developers, hosted by <a href="/pages/aboutme" target="_blank">Xi Xiao</a>.<br>
				Listen by <a href="/rss.xml" target="_blank">RSS Feed</a> or <a href="https://itunes.apple.com/fi/podcast/salesforceway/id1383914828" target="_blank">iTunes</a>.<br>
				Subscribe to our weekly-updated <a href="http://eepurl.com/giT1bP" target="_blank">Newsletter</a>!
      </p>
  </section>
</section>
<section id="episode-area" class="episodes">
  <h1>Episodes:</h1>

  <ul class="home__post-list">
    <% var n = 0;
    for(var key in public.episodes._data){
        n++ %>
    <li class="home__ep" style="color:<%= public.episodes._data[key].color %>">
      <div class="home__ep--color"></div>
      <div class="home__ep-info">
        <audio preload="none" controls src="http://media.blubrry.com/salesforceway/<%= public.episodes._data[key].audio %>"></audio>
        <h2 class="home--post-list--title">
          <a href="/episodes/<%= key %>">
            <%= -1*(n - Object.keys(public.episodes._data).length) +1 %>: <%= public.episodes._data[key].title %>
          </a>
        </h2>
        <p class="home__ep-date">
          <%= public.episodes._data[key].guest %> |
          <%= public.episodes._data[key].date %>
        </p>
        <p class="home__ep-description">
          <%= public.episodes._data[key].description %>
        </p>
        <a class="more-link" href="/episodes/<%= key %>">See Show Notes &rarr; </a>
    </li>
    <% } %>
  </ul>
</section>
